
.messages-container {
  display: flex;
  position: relative;
  margin-top: 20px;
  justify-content: center;
}

.message {
  min-width: 350px;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  font-size: 16px;
}

.message.error {
  color: black;
  background-color: #dd9f9f;
  border: 1px solid #50277c;
}

.message.info {
  color:  black;
  background-color: #a1bbe3;
  border: 1px solid #50277c;
}

.message.warning {
  color: black;
  background-color: #dfda91;
  border: 1px solid #50277c;
}

.message.success {
  color: black;
  background-color: #a3dd9c;
  border: 1px solid #50277c;
}


.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  max-height: 20px;
}
